.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #153677, #4E085f);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  width: 100%;
  max-width: 540px;
  height: 100%;
  max-height: 700px;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.todo h2 {
  color: #002765;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.row input {
  font-size: 18px;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

.row button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #edeef0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.row button:hover {
  background: #cc3e2f;
}

.tasksContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.taskButton {
  color: #edeef0;
  font-size: 18px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #ff5945;
  cursor: pointer;
}

.taskButton:hover {
  background: #cb4132;
}